{% extends "base.html" %}
{%load static %}
{% block 'head' %}
<link rel="stylesheet" href="{% static 'usuarios/css/usuarios.css' %}">
{% endblock 'head' %}


{% block 'body' %}


<div class="container-fluid">
    <div class="row">
        <div class="col-md-2 d-none d-md-flex justify-content-center bg-img ">
        </div>
        <div class="col-md-10 d-flex justify-content-center bg-color-dark form-auth">
            <div class="container-form">
                <h1 class="text-logo">New Start-se</h1>
                {% if messages %}
                {% for message in messages %}
                <section class="alert {{message.tags}}">
                    {{message}}
                </section>
                {% endfor %}
                {% endif %}
                <h1>Cadastre-se</h1>
                <br>
                <form action="{% url 'cadastro' %}" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="csrf_token" value="">
                    <label>Username</label>
                    <input type="text" class="form-control input-pers" name="username"
                        placeholder="Digite seu username" required>
                    <br>
                    <label>Tipo de Conta</label>
                    <select class="form-control input-pers" name="role" required style="color: white; background: #1a1a25;">
                        <option value="I" selected>Investidor (PJ)</option>
                        <option value="E">Empresário (Startup)</option>
                    </select>
                    <br>
                    <label>CNPJ</label>
                    <input type="text" class="form-control input-pers" name="cnpj" id="cnpj_mask"
                        placeholder="00.000.000/0000-00" required>
                    <br>
                    <label>Senha</label>
                    <input type="password" class="form-control input-pers" name="senha" placeholder="Digite sua senha">
                    <br>
                    <label>Confirmar senha</label>
                    <input type="password" class="form-control input-pers" name="confirmar_senha"
                        placeholder="Confirme sua senha">
                    <div class="centralizar">
                        <input type="submit" class="btn btn-indigo" value="Cadastrar">
                        <a href="{% url 'logar' %}" class="texto">Já possuo uma conta</a>
                    </div>
                </form>

                <hr style="border-color: rgba(255,255,255,0.1); margin: 25px 0;">

                {% comment %} COMENTADO: conexões Gmail desativadas
                <div class="centralizar">
                    <p class="texto" style="margin-bottom: 20px;">Ou cadastre-se com sua conta Google:</p>
                    <script src="https://accounts.google.com/gsi/client" async defer></script>
                    <div id="g_id_onload" data-client_id="{{ google_client_id }}"
                        data-login_uri="{{ google_login_url }}" data-auto_prompt="false">
                    </div>
                    <div style="display: flex; justify-content: center; width: 100%;">
                        <div id="google_btn_render"></div>
                    </div>
                </div>
                <style>
                    #google_btn_render {
                        margin-top: 10px;
                        transition: transform 0.2s;
                    }
                    #google_btn_render:hover {
                        transform: scale(1.02);
                    }
                </style>
                <script>
                    window.onload = function () {
                        if (typeof google !== 'undefined') {
                            google.accounts.id.renderButton(
                                document.getElementById("google_btn_render"),
                                {
                                    theme: "filled_blue",
                                    size: "large",
                                    width: 300,
                                    text: "signup_with",
                                    shape: "rectangular"
                                }
                            );
                            google.accounts.id.prompt();
                        } else {
                            setTimeout(window.onload, 500);
                        }
                    };
                </script>
                {% endcomment %}
            </div>
        </div>
    </div>
</div>
{% endblock 'body' %}